.banner {
  padding: 6rem 7rem 6.25rem;
  background-color: #050b14;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  position: relative;
  z-index: 1;

  .apresentacao {
    position: relative;
    z-index: 2;
  }

  .repertorioOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .titulo {
    font-size: 3rem;
    margin: 4.875rem 0 2rem;
    text-align: start;
    background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 2;
  }

  .paragrafo {
    font-family: var(--fonte-secundaria, sans-serif);
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    text-align: start;
    position: relative;
    z-index: 2;
  }

  .imagens {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 406px;
    z-index: 2;

    .imagemBanner {
      width: 25vw;
      border-radius: 50%;
    }
  }
}

/* Responsivo */
@media (max-width: 1100px) {
  .banner {
    padding: 6rem 1.5rem;
    grid-template-columns: 1fr;
    text-align: center;

    .titulo,
    .paragrafo {
      text-align: center;
    }

    .imagens {
      height: auto;
      justify-content: center;

      .imagemBanner {
        width: 50vw;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 4rem 2rem;
    gap: 1.75rem;

    .titulo {
      font-size: 2.5rem;
      margin: 3rem 0 1.25rem;
    }

    .paragrafo {
      font-size: 1rem;
      line-height: 1.75rem;
      width: 90%;
      margin: 0 auto 1.25rem;
      text-align: start;
    }

    .imagens {
      .imagemBanner {
        width: 70vw;
        max-width: 280px;
        margin-top: 1rem;
      }
    }
  }
}
